/* Manrope */
:root{
  --background-image:linear-gradient(120deg,rgba(13, 180, 55, 0.774), 
  rgba(15, 150, 143, 0.67));
  --background-overlay: rgba(0,0,0,0.4);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .menu-btn {
    right: 30px;
  }

}

body{
  background-color: #0A7E8C;
}

